:root {
  --font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --heading-font-family: var(--font-family);

  --purple1-50: #fbfbff;
  --purple1-100: #f7f3ff;
  --purple1-200: #efddff;
  --purple1-300: #dbadff;
  --purple1-400: #bf7ff8;
  --purple1-500: #a742ed;
  --purple1-600: #7c24b4;
  --purple1-700: #55127f;
  --purple1-800: #390559;
  --purple1-900: #1a002e;

  --purple2-50: #fbfbff;
  --purple2-100: #f5f4ff;
  --purple2-200: #e5e1ff;
  --purple2-300: #d2caff;
  --purple2-400: #9f83fe;
  --purple2-500: #7f3ffc;
  --purple2-600: #5d09c7;
  --purple2-700: #470696;
  --purple2-800: #340469;
  --purple2-900: #1f023e;

  --green-50: #edfff2;
  --green-100: #c9ffdb;
  --green-200: #00ff93;
  --green-300: #00e285;
  --green-400: #00b368;
  --green-500: #009052;
  --green-600: #00663a;
  --green-700: #004926;
  --green-800: #002f17;
  --green-900: #00220f;

  --navy-50: #fdfdff;
  --navy-100: #f4f3fc;
  --navy-200: #e2dff0;
  --navy-300: #c7c4da;
  --navy-400: #9e9bb2;
  --navy-500: #6f6c85;
  --navy-600: #383548;
  --navy-700: #252234;
  --navy-800: #131122;
  --navy-900: #080616;

  --primary: var(--navy-900);
  --primary-high: var(--navy-600);
  --primary-medium: var(--navy-500);
  --primary-med-or-secondary-med: var(--navy-500);

  --tertiary: var(--purple1-500);
}

* {
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
}

.wrap {
  padding-inline: 8px;
}

.badge-wrapper.bullet .badge-category-bg {
  border-radius: 4px;
  width: 8px;
  height: 8px;
}

.navigation-topics,
.tags-page,
.archetype-regular,
.category {
  #main-outlet-wrapper {
    background: #f9fafb;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      display: block;
      pointer-events: none;
      background-image: url($background);
      background-position: 50% -50px;
      background-repeat: no-repeat;
      inset: 0;
      z-index: 1;
      width: 100%;
    }
  }
}

#main-outlet,
.sidebar-wrapper {
  z-index: 3;
}

table.topic-list {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 0;
  margin-bottom: 24px;
  box-shadow:
    0px 4px 4px 0px rgba(0, 0, 0, 0.01),
    0px 3px 3px 0px rgba(0, 0, 0, 0.02),
    0px 2px 2px 0px rgba(0, 0, 0, 0.04),
    0px 1px 0px 0px rgba(0, 0, 0, 0.09),
    0px 0px 0px 1px rgba(0, 0, 0, 0.15);
}

tbody {
  border-top: 0 none;
}

.topic-list th.topic-list-data {
  padding-block: 8px;
  font-size: 13px;
  font-weight: bold;
  color: var(--navy-700);
}

.discourse-no-touch .sortable:hover,
.discourse-no-touch .sortable:focus {
  background: var(--navy-100);
}

.topic-list .num {
  text-align: right;
  padding-inline: 12px;
}

.topic-list-header {
  background: var(--navy-50);
}

.post-stream .topic-post .row {
  @media (max-width: 767px) {
    background: #fff;
    border-radius: 8px;
    padding: 16px 16px;
    box-shadow:
      0px 4px 4px 0px rgba(0, 0, 0, 0.01),
      0px 3px 3px 0px rgba(0, 0, 0, 0.02),
      0px 2px 2px 0px rgba(0, 0, 0, 0.04),
      0px 1px 0px 0px rgba(0, 0, 0, 0.09),
      0px 0px 0px 1px rgba(0, 0, 0, 0.15);
  }
}

.topic-body {
  border-radius: 8px;
  .cooked {
    aside.quote {
      --primary-high-or-secondary-low: var(--navy-600);
      --primary-low-mid-or-secondary-high: var(--navy-500);
      .quote-controls {
        color: var(--navy-500);
      }
    }
    aside.quote .title,
    blockquote {
      background: var(--navy-50);
      border-color: var(--navy-200);
    }
    a.mention {
      background: var(--navy-100);
      color: var(--purple2-600);
    }
  }
}

.topic-body:has(button.widget-button.accepted) {
  box-shadow:
    0px 4px 4px 0px rgba(0, 0, 0, 0.01),
    0px 3px 3px 0px rgba(0, 0, 0, 0.02),
    0px 2px 2px 0px rgba(0, 0, 0, 0.04),
    0px 1px 0px 0px rgba(0, 0, 0, 0.09),
    0px 0px 0px 1px rgba(0, 0, 0, 0.15),
    0px 0px 0px 4px #30f2a2;
}

.topic-list .topic-list-data {
  padding: 8px;
}

.topic-list-item {
  background: #fff;
}

.topic-list-item,
tr {
  border-bottom-color: var(--navy-100);
}

.topic-list-item.visited {
  background: var(--navy-50);
}

.topic-list-main-link a.title,
.latest-topic-list-item .main-link a.title,
.topic-list .main-link a.title {
  color: var(--navy-900);
  font-weight: 600;
}

.topic-list-item.visited .topic-list-data a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification) {
  color: var(--navy-400);
  font-weight: 400;
}

.list-controls .combo-box .combo-box-header {
  background: #fff;
  box-shadow:
    0px 4px 4px 0px rgba(0, 0, 0, 0.01),
    0px 3px 3px 0px rgba(0, 0, 0, 0.02),
    0px 2px 2px 0px rgba(0, 0, 0, 0.04),
    0px 1px 0px 0px rgba(0, 0, 0, 0.09),
    0px 0px 0px 1px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  color: var(--navy-600);
  border: 0 none;
}

.select-kit.is-expanded .select-kit-body {
  border-radius: 8px;
}

.btn:not(.btn-flat):not(.widget-button):not(.btn-icon):not(.tab),
.topic-admin-menu-button .btn,
.timeline-footer-controls .topic-notifications-button,
.timeline-footer-controls .notifications-button,
.dropdown-select-box .btn {
  background: #fff;
  box-shadow:
    0px 4px 4px 0px rgba(0, 0, 0, 0.01),
    0px 3px 3px 0px rgba(0, 0, 0, 0.02),
    0px 2px 2px 0px rgba(0, 0, 0, 0.04),
    0px 1px 0px 0px rgba(0, 0, 0, 0.09),
    0px 0px 0px 1px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  color: var(--navy-600);
  font-weight: 400;
  .d-icon {
    color: var(--navy-600);
  }

  &:hover {
    color: var(--navy-900);
    background: #fff;
    .d-icon {
      color: var(--navy-900);
    }
  }
}

.select-kit.dropdown-select-box.period-chooser .period-chooser-header {
  padding: 0 8px 0;
  margin-bottom: 16px;
}

.select-kit.single-select.dropdown-select-box.is-expanded
  .select-kit-collection,
.select-kit.single-select.dropdown-select-box.is-expanded .select-kit-body {
  border-radius: 4px;
  border: 0 none;
  box-shadow:
    0px 7px 9px 0px rgba(0, 0, 0, 0.03),
    0px 13px 18px 0px rgba(0, 0, 0, 0.04),
    0px 20px 20px 0px rgba(0, 0, 0, 0.07),
    0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background: var(--tertiary) !important;
  color: #fff !important;
  .d-icon {
    color: #fff !important;
  }
}

.sidebar-section-link-wrapper .sidebar-section-link-prefix .prefix-span {
  border-radius: 999px;
  width: 8px;
  height: 8px;
}

.sidebar-wrapper .sidebar-container {
  border-right: 0 none;
  height: 100%;
}

.has-sidebar-page .sidebar-wrapper {
  box-shadow:
    0px 4px 4px 0px rgba(0, 0, 0, 0.01),
    0px 3px 3px 0px rgba(0, 0, 0, 0.02),
    0px 2px 2px 0px rgba(0, 0, 0, 0.04),
    0px 1px 0px 0px rgba(0, 0, 0, 0.09),
    0px 0px 0px 1px rgba(0, 0, 0, 0.15);
}

.alert.alert-info.clickable {
  text-align: center;
  justify-content: center;
  background: var(--navy-700);
  color: #fff;
}

.composer-popup {
  background: #fff;
  box-shadow: 0 0 0 transparent;
}

.modal-inner-container,
.dialog-content {
  border-radius: 12px;
}

.modal-header {
  padding: 16px 24px;
}

.create-invite-modal.modal .modal-body,
.create-invite-bulk-modal.modal .modal-body,
.share-topic-modal.modal .modal-body {
  margin: 0;
  padding: 24px;
}

section.tag-info {
  background: #fff;
  border: 0 none;
  border-radius: 4px;
  box-shadow:
    0px 4px 4px 0px rgba(0, 0, 0, 0.01),
    0px 3px 3px 0px rgba(0, 0, 0, 0.02),
    0px 2px 2px 0px rgba(0, 0, 0, 0.04),
    0px 1px 0px 0px rgba(0, 0, 0, 0.09),
    0px 0px 0px 1px rgba(0, 0, 0, 0.15);
}

.topic-avatar,
.topic-body {
  border-top: 0 none;
}

.nav-pills > li {
  margin: 0;
}

.nav-pills > li > a,
.nav-pills > li button {
  border-radius: 2px;
  font-size: 14px;
  padding: 4px 8px;
  min-height: 0;
  &:hover {
    color: inherit;
    background: transparent;
  }
}

.nav-pills > li a.active,
.nav-pills > li button.active {
  color: #4b19d5;
  background: #f1efff;
}

.d-header #site-logo {
  height: 24px;
}

.vote-count-wrapper {
  background: #fff;
}

.post-notice {
  max-width: none;
  margin-bottom: 24px;
  border-radius: 8px;
  border-top: 0 none;
}

.title-voting {
  padding-top: 0;
  width: 104px;
  padding-right: 24px;
}

.main-chat-outlet.chat-view {
  background: #fff;
}

.chat-composer__inner-container {
  border-radius: 4px;
}

.chat-message-separator-date
  + .chat-message-separator__line-container
  .chat-message-separator__line {
  border-top: 1px solid var(--navy-200);
}

.no-touch .chat-message-container:hover,
.no-touch .chat-transcript:hover,
.no-touch .chat-message-container.-active,
.no-touch .-active.chat-transcript {
  background: var(--navy-50);
}

.extra-info-wrapper .badge-wrapper {
  min-width: 0;
}

.topic-avatar .avatar-flair,
.avatar-flair-preview .avatar-flair,
.collapsed-info .user-profile-avatar .avatar-flair,
.user-image .avatar-flair,
.latest-topic-list-item .avatar-flair {
  background-color: #fff;
  background-size: 16px;
  padding: 2px;
  bottom: -6px;
  box-shadow:
    0px 4px 4px 0px rgba(0, 0, 0, 0.01),
    0px 3px 3px 0px rgba(0, 0, 0, 0.02),
    0px 2px 2px 0px rgba(0, 0, 0, 0.04),
    0px 1px 0px 0px rgba(0, 0, 0, 0.09),
    0px 0px 0px 1px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
}
